.featuredProducts {
    margin: 100px 200px;
    
  
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 50px;
  
      h1 {
        flex: 2;
        text-transform: capitalize;
      }
  
      p{
        flex:3;
        color:gray
      }
    }
  
    .bottom{
      display: flex;
      justify-content: center;
      gap: 50px;
      //transform: translateX(-30vw);
    }
    .loader {
      border: 10px solid #f3f3f3;
      border-top: 10px solid #3498db;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      animation: spin 1s linear infinite;
      position: absolute;
      top: 50%;
      left: 50%;
  
  
      @keyframes spin {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        } 
    }
  }